section{
    margin: 80px auto;
}
.image {
    width: 100%;
    height: 200px;
  }
.radio {
display: none;
}
.images {
overflow: hidden;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 100%;
}
.images-inner {
width: 500%;
transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.image-slide {
width: 20%;
float: left;
}
.image-slide,
.fake-radio,
.radio-btn {
transition: all 0.5s ease-out;
}
.fake-radio {
text-align: center;
}

.slider-show{
    width: 80%;
    margin: 0 auto;
}
.image{
height: 400px;
}
.image img{
width: 100%;
height: 100%;
}

/* Move slides overflowed container */
#slide1:checked ~ .images .images-inner {
margin-left: 0;
}
#slide2:checked ~ .images .images-inner {
margin-left: -100%;
}
#slide3:checked ~ .images .images-inner {
margin-left: -200%;
}




/* Color of bullets */
#slide1:checked ~ div .fake-radio .radio-btn:nth-child(1),
#slide2:checked ~ div .fake-radio .radio-btn:nth-child(2),
#slide3:checked ~ div .fake-radio .radio-btn:nth-child(3) {
background: red;
}
.radio-btn {
width: 9px;
height: 9px;
border-radius: 5px;
background: gray;
display: inline-block !important;
margin: 0 1px;
cursor: pointer;
}
/* Color of bullets - END */

.label {
opacity: 0;
position: absolute;
}
/* Text of slides - END */



/* Calculate AUTOPLAY for BULLETS */
@keyframes bullet {
0%, 33.32333333333334%	{
    background: red;
}
33.333333333333336%, 100% {
    background: gray;
}
}


#play1:checked ~ div .fake-radio .radio-btn:nth-child(1) {
animation: bullet 12300ms infinite -1000ms;
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(2) {
animation: bullet 12300ms infinite 3100ms;	
}

#play1:checked ~ div .fake-radio .radio-btn:nth-child(3) {
animation: bullet 12300ms infinite 7200ms;	
}
/* Calculate AUTOPLAY for BULLETS - END */




/* Calculate AUTOPLAY for SLIDES */
@keyframes slide {
0%, 25.203252032520325%	{ margin-left: 0; }
33.333333333333336%, 58.53658536585366%	{ margin-left: -100%; }
66.66666666666667%, 91.869918699187%	{ margin-left: -200%; }
}


.st-slider > #play1:checked ~ .images .images-inner {
animation: slide 12300ms infinite;	
}
/* Calculate AUTOPLAY for SLIDES - END */





/* Calculate AUTOPLAY for CAPTION */
@keyframes caption {
0%, 33.32333333333334%	{
    opacity: 1;
}
33.333333333333336%, 100% {
    opacity: 0;
}
}


#play1:checked ~ .labels .label:nth-child(1) {
animation: caption 12300ms infinite -1000ms;
}

#play1:checked ~ .labels .label:nth-child(2) {
animation: caption 12300ms infinite 3100ms;	
}

#play1:checked ~ .labels .label:nth-child(3) {
animation: caption 12300ms infinite 7200ms;	
}
/* Calculate AUTOPLAY for CAPTION - END */

/* description */
.det{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 50px auto;
}
.desc{
    padding-top: 25px;
    width: 50%;
    margin: 0 auto;
    width: 48%;
}
.desc ul{
    padding: 15px 0 ;
    margin-bottom: 20px;
}
.desc ul li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}
.desc h4{
    padding: 15px;
    font-size: large;
}
.desc p{
    line-height: 1.5;
}
.desc a{
    color: #ffffff;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(0,112,255,1);
    transition: padding .3s;
}
.desc a:hover{
    padding: 10px 35px;
}
.map{
    width: 48%;
}